<p id="notice"><%= notice %></p>

<h1>Trash</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @deleted_records.each do |record| %>
      <tr>
        <td><%= record.id %></td>
        <td><%= link_to 'Restore', restore_post_path(record), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
